/* === fonts === */
@font-face {
    font-family: 'Bodoni Moda', serif;
    src: url(../fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Yusei Magic', sans-serif;
    src: url(../fonts/Yusei_Magic/YuseiMagic-Regular.ttf);
}
/* ==========
Allgemein
========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: darkslategray;
}
/* ==========
MAIN
========== */
section {
    background-color: #fff;
    margin: 10vh auto;
    width: 70vw;
    height: 44vh;
    text-align: center;
}
input, select {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    padding: .3rem;
}
/* === Ausgabefeld === */
.ausgabe {
    border: 1px solid black;
    margin: .5rem 1rem;
    height: 14vh;
    display: flex;
    align-items: center;
}
p {
    margin: 2rem auto;
}
/* ===== CSS/ Javascript Magic ===== */
/* font-family */
.bodoniModa {
    font-family: 'Bodoni Moda', serif;
}
.openSans {
    font-family: 'Open Sans', sans-serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
.yuseiMagic {
    font-family: 'Yusei Magic', sans-serif;
}